/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

// Colors

$primary: #1abc9c;
$secondary: #f2f4f1;
$text: #c0cad3;
$pure: #fff;
$dark: #000000;
$light: #5dceb7;
